<h2>All games</h2>
<p>gamePLUS can detect these <%= games.length %> games:</p>
<div class="games">
    <% for (let game of games) { %>
        <a href="/game/<%= game._id %>" class="game">
            <img src="/game/<%= game._id %>/icon?size=48" class="logo" loading="lazy">

            <p class="title">
                <b><%= game.name %></b><br>

                <iconify-icon icon="simple-icons:windows11" width="24" class="<%= game.executables.some(exe => exe.platform === "win32") ? 'supported' : 'unsupported' %>"></iconify-icon>
                <iconify-icon icon="file-icons:finder" width="24" class="<%= game.executables.some(exe => exe.platform === "darwin") ? 'supported' : 'unsupported' %>"></iconify-icon>
                <iconify-icon icon="fa6-brands:linux" width="24" class="<%= game.executables.some(exe => exe.platform === "linux") ? 'supported' : 'unsupported' %>"></iconify-icon>
            </p>
        </a>
    <% } %>
</div>

<%- contentFor('head') %>
<title>Oops! All Games</title>
<style>
    .games {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0 3em;
    }
    .game {
        display: flex;
        text-decoration: none;
        color: black;
        height: 48px;

        padding: 0.5em;
        margin-bottom: 1em;
        border-radius: 5px;
        background-color: #eee;
        align-items: center;
    }

    .logo {
        max-width: 48px;
        max-height: 48px;
    }
    .title {
        margin-left: 1em;
    }

    .supported {
        color: green;
    }
    .unsupported {
        color: red;
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/iconify-icon@2.1.0/dist/iconify-icon.min.js"></script>