<html lang="en">
    <head>
        <title>gamePLUS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta property="og:title" content="<%= game.name %> :: gamePLUS" />
        <meta property="og:image" content="https://gameplus.nineplus.sh/game/<%= game._id %>/icon" />
        <meta property="og:description" content="See mappings for <%= game.name %> on gamePLUS, the executable mapping database for Quarky" />

        <script src="https://cdn.jsdelivr.net/npm/iconify-icon@2.1.0/dist/iconify-icon.min.js"></script>
        <meta name="robots" content="noindex, nofollow" />

        <style>
            html {
                font-family: sans-serif;
            }
        </style>
    </head>
    <body>
        <h1><img src="/game/<%= game._id %>/icon" width="48" height="48"> <%= game.name %></h1>
        <p>This game is detected when one of these executables are running:</p>
        <% for (let executable of game.executables) { %>
            <p>
                <iconify-icon icon="<%= executable.platform === "win32" ? "simple-icons:windows11" : executable.platform === "darwin" ? "file-icons:finder" : "fa6-brands:linux" %>"></iconify-icon>
                <code><%= executable.name %> <%= executable.arguments %></code>
            </p>
        <% } %>
        <% if (isAdmin) { %> <p><a href="/game/<%= game._id %>/edit">Edit app data</a></p> <% } %>
    </body>
</html>