<html lang="en">
    <head>
        <title>gamePLUS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta property="og:title" content="<%= game.name %> :: gamePLUS" />
        <meta property="og:image" content="https://gameplus.nineplus.sh/game/<%= game._id %>/icon" />
        <meta property="og:description" content="See mappings for <%= game.name %> on gamePLUS, the executable mapping database for Quarky" />

        <meta name="robots" content="noindex, nofollow" />

        <style>
            html {
                font-family: sans-serif;
            }
        </style>

        <% if (isNotable) { %>
        <script>
            new Audio("/sfx/game_created.wav").play();
            window.cubismNoMouth = true;
            window.cubismColonO = true;
            window.addEventListener("cubismready", function() {
                window.cubismMotion("/cubism/hiyori_pro/motion/hiyori_m03.motion3.json")
            })
        </script>
        <script src="/cubism/cubismcore.js"></script>
        <script src="/cubism/cubism.js"></script>
        <% } %>
    </head>
    <body>
        <% if (isNotable && isAdmin) { %>
            <h1><a href="/create">CREATE NEW GAME</a></h1><hr>
        <% } %>
        <h1><img src="/game/<%= game._id %>/icon" width="48" height="48"> <%= game.name %></h1>
        <p>This game is detected when one of these executables are running:</p>
        <% for (let executable of game.executables) { %>
            <p>
                <img src="/icons/platforms/<%= executable.platform %>.png">
                <code><%= executable.name %> <%= executable.arguments %></code>
            </p>
        <% } %>
        <% if (isAdmin) { %> <p><a href="/game/<%= game._id %>/edit">Edit app data</a></p> <% } %>
    </body>
</html>