<html lang="en">
    <head>
        <title>gamePLUS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <style>
            html {
                font-family: sans-serif;
            }
            #takedownstyle {
                border-top: 5px yellow dashed;
                border-bottom: 5px yellow dashed;

                font-family: serif;
                background-color: black;
                color: white;

                margin-left: -8px;
                margin-right: -8px;
                padding-left: 8px;

                padding-top: 2px;
                padding-bottom: 2px;
            }
            #takedownstyle #takedown {
                color: red;
            }
            #takedownstyle a {
                color: white;
            }

            .gaming {
                height: 160px;
                width: 284px;
                background: white;
                padding: 0.5em;
                color: black;
                border: 2px solid black;
            }
            .gamewrap {
                display: flex;
                flex-direction: row;
            }
            .gamedata {
                padding-right: 1em;
                padding-left: 1em;
                margin: auto 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .gamedata b {
                display: block;
                max-height: 3em;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: wrap;
            }
            .gamedata p {
                margin: 0;
            }
            .gamelogo {
                width: 96px;
                height: 96px;
            }

            .gamedisclaim {
                font-size: small;
                font-style: italic;
            }
        </style>
    </head>
    <body>
        <h1 style="margin-top: 0;"><img src="/logo.png" alt="gamePLUS"></h1><hr><a href="/">← Go back to home page</a>

        <h2 id="what-is">What is gamePLUS?</h2>
        <p>At ninePLUS, we're building a chat app called <a href="https://www.nineplus.sh/quarky">Quarky</a>.<br><a href="https://support.discord.com/hc/en-us/articles/7931156448919-Activity-Status-Recent-Activity">Similarly to Discord</a>, Quarky can display what game you're playing on your profile.</p>
        <p>We needed a way to detect what games are running, and this is that.<br>gamePLUS stores the icon, executables (<code><%= sampleGame.executables[0].name %></code>) and name (<i><%= sampleGame.name %></i>) for games.</p>
        <p>This way, you can see exactly what someone's playing:</p>
        <div class="gaming">
            <p>Playing a game</p>
            <div class="gamewrap">
                <img class="gamelogo" src="/game/<%= sampleGame._id %>/icon">
                <div class="gamedata">
                    <b><%= sampleGame.name %></b>
                    <p>12:34 elapsed</p>
                </div>
            </div>
        </div>
        <p class="gamedisclaim">Game chosen at random. ninePLUS does not own the rights to <%= sampleGame.name %>.<br>For demonstrational purposes only.</p>

        <h2 id="submit-game">A game is missing or the information is wrong.</h2>
        <p>Use the <a href="https://www.nineplus.sh/support.html">ninePLUS contact form</a> and suggest change(s) there.<br>Alternatively, relevant pages will have the contact form in the bottom right corner.<br>Alternatively alternatively, you can join the <a href="https://discord.gg/lit-devs-868937321402204220">LIT Devs Discord</a> and ping Hakase there.</p>
        <p>If suggesting a new game and it's on Steam, just send the store page link.<br>Otherwise, send the name, icon, and executable (<code><%= sampleGame.executables[0].name %></code>).</p>

        <h2 id="use-gameplus">I want to use the gamePLUS database.</h2>
        <p>Making the database easy to use is not on our priority list right now, so we wouldn't recommend it.<br>Strictly speaking you can use the <a href="/api/games">/api/games</a> endpoint to get JSON output, but only use it for pet projects and cache heavily.</p>
        <p>For projects with more than like five users and/or commercial projects, <a href="https://www.nineplus.sh/support.html">contact ninePLUS</a>.</p>

        <hr>

        <h2 id="copyright">Are all assets on gamePLUS owned by ninePLUS?</h2>
        <p>No. We own the gamePLUS™ and ninePLUS™ names, as well as the gamePLUS logo.</p>
        <p>gamePLUS uses sample data owned and copyrighted by Live2D Inc. and <a href="https://github.com/misskey-dev/mascot-web">sample code by syuilo</a>.<br>The sample data are utilized in accordance with terms and conditions set by Live2D Inc.<br>gamePLUS itself is created at ninePLUS’ sole discretion.</p>
        <p>gamePLUS also uses icons by <a href="https://p.yusukekamiyamane.com/">Yusuke Kamiyamane</a> and FatCow under the CC BY 3.0 license.</p>
        <p>All other game icons and names belong to their respective owners.</p>
        <div id="takedownstyle">
            <h3 id="takedown">I want to have my game removed from gamePLUS.</h3>
            <p id="takedownline">ninePLUS does not usually accept takedown requests for gamePLUS entries.</p>
            <p>This is because the only intellectual property used on gamePLUS is the game's title and a 128x128 icon.<br>This is the minimal information required to provide game displays for Quarky, as <a href="#what-is">described above</a>.</p>
            <p>If you still insist on a game's removal we may be able to remove it in exceptional cases.<br>Please use the <a href="https://www.nineplus.sh/support.html">ninePLUS contact form</a>.</p>
        </div>
    </body>
</html>
