<html lang="en">
    <head>
        <title>gamePLUS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <style>
            html {
                font-family: sans-serif;
            }
            .game {
                display: flex;
                text-decoration: none;
                color: black;
                width: 25em;
                height: 96px;

                padding: 0.5em;
                margin-bottom: 1em;
                border-radius: 5px;
                background-color: #eee;
                align-items: center;
            }

            .logo {
                max-width: 96px;
                max-height: 96px;
            }
            .title {
                margin-left: 1em;
            }

            .supported {
                color: green;
            }
            .unsupported {
                color: red;
            }

            .errorwrap {
                display: flex;
                gap: 1em;
                max-width: 500px;
            }
            .errortextwrap h1 {
                margin: 0;
            }
        </style>

        <script src="https://cdn.jsdelivr.net/npm/iconify-icon@2.1.0/dist/iconify-icon.min.js"></script>
        <meta name="robots" content="noindex, nofollow" />
    </head>
    <body>
        <h1>Search results <form action="/search" method="get">
                <input id="gamename" name="game" placeholder="Type a game name...">
                <input type="submit" value="Search">
            </form></h1>
        <% for (let game of find) { %>
            <a href="/game/<%= game._id %>" class="game">
                <img src="/game/<%= game._id %>/icon" class="logo">

                <p class="title">
                    <b><%= game.name %></b><br>

                    <iconify-icon icon="simple-icons:windows11" width="32" class="<%= game.executables.some(exe => exe.platform === "win32") ? 'supported' : 'unsupported' %>"></iconify-icon>
                    <iconify-icon icon="file-icons:finder" width="32" class="<%= game.executables.some(exe => exe.platform === "darwin") ? 'supported' : 'unsupported' %>"></iconify-icon>
                    <iconify-icon icon="fa6-brands:linux" width="32" class="<%= game.executables.some(exe => exe.platform === "linux") ? 'supported' : 'unsupported' %>"></iconify-icon>
                </p>
            </a>
        <% } %>
        <% if(find.length === 0) { %> <div class="errorwrap">
            <img src="/idunno.png" width="128" height="128">
            <div class="errortextwrap">
                <h1>Never heard of it!</h1>
                <div>
                    If you'd like, you can <a href="/learn#submit-edits">submit the game</a>.
                </div>
            </div>
        </div> <% } %>

        <script src="https://youtrack.litdevs.org/static/simplified/form/form-entry.js?auto=false"></script>
        <div style="position: fixed; bottom: 20px; right: 20px;"></div>
        <script>
            YTFeedbackForm.renderFeedbackButton(
                document.currentScript.previousElementSibling,
                {backendURL: 'https://youtrack.litdevs.org', formUUID: '1f7dda6d-f041-44d3-a5f4-0f93df0168c7', theme: 'light', language: 'en'}
            );
            YTFeedbackForm.getClientJSApi('1f7dda6d-f041-44d3-a5f4-0f93df0168c7').then(async form => {
                <% if(find.length === 0) { %>
                    form.setBlockValue('summary', `Missing ${new URLSearchParams(window.location.search).get("game")}`);
                    form.setBlockValue('description', "Replace this text with a link to the game's Steam page.\n\nIf it doesn't have one, replace this text with the name of the executable (game.exe) and attach an icon for it. Make sure it's the game and not a launcher.");
                <% } %>

                const requestType = form.getBlocks().find(b => b.title === 'Request type');
                form.setBlockValue(
                    requestType.title,
                    (await form.getBlockValues(requestType.id)).find(b => b.name === 'Feedback')
                );
                /*const affectedApp = form.getBlocks().find(b => b.title === 'Affected application');
                form.setBlockValue(
                    affectedApp.title,
                    (await form.getBlockValues(affectedApp.id)).find(b => b.name === 'gamePLUS')
                );*/
            })
        </script>
    </body>
</html>
