<html lang="en">
    <head>
        <title>gamePLUS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <style>
            html {
                font-family: sans-serif;
            }
            .game {
                display: flex;
                text-decoration: none;
                color: black;
                width: 25em;
                height: 96px;

                padding: 0.5em;
                margin-bottom: 1em;
                border-radius: 5px;
                background-color: #eee;
                align-items: center;
            }

            .logo {
                max-width: 96px;
                max-height: 96px;
            }
            .title {
                margin-left: 1em;
            }

            .supported {
                color: green;
            }
            .unsupported {
                color: red;
            }
        </style>

        <script src="https://cdn.jsdelivr.net/npm/iconify-icon@2.1.0/dist/iconify-icon.min.js"></script>
        <meta name="robots" content="noindex, nofollow" />
    </head>
    <body>
        <h1>Search results</h1>
        <% for (let game of find) { %>
            <a href="/game/<%= game._id %>" class="game">
                <img src="/game/<%= game._id %>/icon" class="logo">

                <p class="title">
                    <b><%= game.name %></b><br>

                    <iconify-icon icon="simple-icons:windows11" width="32" class="<%= game.executables.some(exe => exe.platform === "win32") ? 'supported' : 'unsupported' %>"></iconify-icon>
                    <iconify-icon icon="file-icons:finder" width="32" class="<%= game.executables.some(exe => exe.platform === "darwin") ? 'supported' : 'unsupported' %>"></iconify-icon>
                    <iconify-icon icon="fa6-brands:linux" width="32" class="<%= game.executables.some(exe => exe.platform === "linux") ? 'supported' : 'unsupported' %>"></iconify-icon>
                </p>
            </a>
        <% } %>
        <% if(find.length === 0) { %> <p>gamePLUS isn't tracking any game like that ;~;<br>If you're sure you spelled it right, now's your chance to submit it! :3</p> <% } %>
    </body>
</html>
